<Project>
    <!-- Build configurations -->
    <!-- Remove the .Template extenstion from this file when using template -->
  <PropertyGroup>
    <AndroidSigningPassFile />
	<GoogleServicesJsonFile />
  </PropertyGroup>
</Project>
